body{
    background-color: rgb(246, 250, 239);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkslategrey;
    margin: 25px;
}
.header{
    position:relative;
    color: rgb(24, 57, 57);
}
ol{
    font-weight: bold;
}
ul{
    font-weight: lighter;
    color: rgb(67, 118, 118);
    padding-inline-start: 30pt;
}
.naturelists{
    list-style-position: inside;
    font-variant-caps:small-caps;
}
.foodlists{
    list-style-position: inside;
    font-variant-caps:all-small-caps;
}
nav a:hover{
    background-color: rgb(199, 223, 158);
}